.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.modal-card {
  width: 95%;
  max-width: 480px;
  background: #fff;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.25s ease;
}

.modal-title {
  font-size: 1.3rem;
  margin-bottom: 14px;
  font-weight: 700;
  color: #222;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
}

input,
textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  outline: none;
  font-size: 0.95rem;
}

textarea {
  min-height: 90px;
  resize: vertical;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 18px;
}

.cancel-btn {
  padding: 8px 16px;
  background: #ccc;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn {
  padding: 8px 16px;
  background: var(--colormaster);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.open-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: var(--colorsec);
  color: #fff;
  margin-right: 8px;
  cursor: pointer;
}

/* .preview-row {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.preview-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ccc;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
