.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--colormob);
  font-family: "Roboto", Times, serif;
  font-size: 16px;
  padding: 15px 0px;
  margin: 15px 1px;
}
.breadcrumbs .marca {
  font-size: 25px;
}
.breadcrumbs a {
  color: var(--colorneg);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.breadcrumbs a:hover {
  color: var(--colormaster);
  text-decoration: underline;
}

.breadcrumbs .current {
  font-weight: 600;
  color: var(--colorneg);
}

@media (max-width: 512px) {
  .breadcrumbs {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .breadcrumbs a span {
    display: none;
  }
}
