/* 🔹 Ajusta el ancho mínimo del select */
.banner-select {
  position: relative;
  flex: 1; /* 🔥 se adapta igual que el input */
  min-width: 200px;
  box-sizing: border-box;
}

.banner-input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* icono a la izquierda, input a la derecha */
  height: 44px; /* misma altura que input/button */

  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: text;
}

.banner-box-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex: 0 0 auto;
}

.banner-input-box input {
  border: none;
  outline: none;
  flex: 1;
  margin: 0;
  margin-right: 10px;
  border-bottom: 2px solid var(--colormaster);
  font-family: "Epunda Sans", sans-serif;
  font-size: 23px;
  font-weight: 500;
  background: transparent; /* fondo q tiene banner-input-box */
  color: var(--colortxt);
  height: 100%;
  line-height: 44px;
  box-sizing: border-box;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-family: "Epunda Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: #fff; /* fondo blanco */
  color: var(--colortxt); /* texto con tu variable */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.option:hover {
  background: var(--colortxt);
  color: var(--colorpri);
}

.empty {
  padding: 10px;
  color: var(--colortxt); /* texto con tu variable */
  font-family: "Epunda Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
/* 🔹 Responsivo: a partir de 992px hacia abajo */
@media (max-width: 992px) {
}
