/* 🔹 Ajusta el ancho mínimo del select */
.banner-select {
  position: relative;
  flex: 1; /* 🔥 se adapta igual que el input */
  /* min-width: 300px; */
  box-sizing: border-box;
}

.banner-input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* icono a la izquierda, input a la derecha */
  height: 44px; /* misma altura que input/button */

  background: #fff;
  border-radius: 5px;
  padding: 5px;

  cursor: text;
  border: 1px solid var(--ccborde);
}

.banner-box-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  flex: 0 0 auto;
}

.banner-input-box input {
  border: none;
  outline: none;
  /* flex: 1; */
  margin: 0px 10px;
  /* border-bottom: 2px solid var(--colormaster); */
  font-family: "Epunda Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: transparent; /* fondo q tiene banner-input-box */
  color: var(--colormaster);
  height: 100%;
  width: 100%;
  line-height: 44px;
  box-sizing: border-box;
}
.banner-input-box input:focus {
  border-bottom: 2px solid var(--colormaster);
}
.banner-input-box input::placeholder {
  color: var(--ccborde);
  font-size: 18px;
  opacity: 1; /* asegúrate de que no sea translúcido */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-family: "Epunda Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #fff; /* fondo blanco */
  color: var(--colortxt); /* texto con tu variable */
  border: 1px solid #adabab;
  border-radius: 8px;
  margin-top: 6px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
/* 🔹 Encabezado de la lista */
.dropdown-header {
  font-family: "Epunda Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  /* background: var(--colormaster); */
  color: var(--colorneg);
  padding: 15px 12px;
  margin-left: 15px;
}

.option {
  padding: 5px 0 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  border-top: 1px solid #adabab;
  font-family: "Epunda Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.option-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  font-size: 12px;
}
.option-text h3 {
  font-size: 16px;
}

.option:hover {
  background: var(--colortxt);
  color: var(--colorpri);
  /* text-decoration: underline;
  text-decoration-color: var(--colorsec); */
}

.empty {
  padding: 10px;
  color: var(--colortxt); /* texto con tu variable */
  font-family: "Epunda Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
/* 🔹 Responsivo: a partir de 992px hacia abajo */
@media (max-width: 992px) {
  .banner-select {
    width: 100%;
  }
  .banner-input-box {
    width: 100%;
  }
}
/* 🔹 Animación suave de desvanecimiento */
.fade-out {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade-out.hidden {
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeAndHide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.empty {
  animation: fadeAndHide 3s forwards;
}
