.filterbar-container {
  max-width: 1200px; /* ancho máximo del contenedor */
  margin: 0 auto; /* centra horizontalmente */
  padding: 20px 15px 20px 15px; /* espacio lateral */

  position: sticky; /* se queda pegado al top */
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* sutil sombra para separar visualmente */

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background: var(--colorbla);
  z-index: 35;
  flex-wrap: nowrap;
}
/* Espacio debajo para que no tape el contenido */
.filterbar-placeholder {
  height: 70px; /* ajusta según la altura real de tu barra */
}

/* Contenedor de los inputs */
.filterbar-inputs {
  display: flex;

  gap: 10px;
  align-items: center;
}

/* Botones */
.filterbar-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.filterbar-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #fff;
  color: var(--colormaster);
  font-family: "Epunda Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.filterbar-btn:hover {
  background: var(--ccshadow);
}

.filterbar-btn.primary {
  background: var(--colormaster);
  color: #fff;
}

.filterbar-btn.primary:hover {
  background: var(--colorhover);
}

/* 📱 Pantallas medianas */
@media (max-width: 768px) {
  .filterbar-container {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 5px 0px;
  }
  .filterbar-inputs {
    width: 100%;
    gap: 5px;
    justify-content: start;
  }

  /* Botones */
  .filterbar-actions {
    width: 100%;
    gap: 5px;
  }

  /* Cada DataSelect ocupa el 100% del ancho */
  .filterbar-container .banner-select {
    /* width: 100% !important; */
  }

  .filterbar-actions {
    /* justify-content: space-between; */
  }

  .filterbar-btn {
    flex: 1;
    justify-content: center;
    font-size: 16px;
  }
}

/* 📱 Pantallas pequeñas */
@media (max-width: 512px) {
  /* .filterbar-container {
    gap: 10px;
    padding: 10px;
  } */

  /* .filterbar-actions {
    flex-direction: column;
    gap: 8px;
    width: 100%;
  } */

  /* .filterbar-container .banner-select {
    width: 100% !important;
  } */

  /* .filterbar-btn {
    width: 100%;
    font-size: 15px;
    padding: 9px 14px;
  } */
}
