@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap");
/* Importar Roboto con todos los estilos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --colorpri: #ffffff;
  --colorsec: #f2a900;
  /* --colortxt: #00564a; */
  --colortxt: #12676a;

  --colorluz: #ffffff;
  --colormargen: rgba(0, 0, 0, 0.8);
  --colorbor: #f2a900;
  --colorsha: #f2a900;

  --ccborde: rgba(0, 0, 0, 0.4);
  --ccshadow: rgba(56, 95, 82, 0.27);

  --colormob: #25262e;
  --colorneg: black;
  --colorbla: #ffffff;

  --colormaster: #12676a;
  --colorbg: rgba(255, 255, 255, 0.8);
  --colorhover: #257c80;
}

/* Scrollbar global elegante y adaptable */
* {
  /*scrollbar-width: thin;  Firefox: delgada */
  scrollbar-color: var(--colormaster) transparent; /* thumb | track */
}

/* Scrollbar en navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--colormaster);
  border-radius: 10px;
  transition: background 0.3s ease;
}
:hover::-webkit-scrollbar {
  width: 12px; /* ancho al pasar el mouse */
  height: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--colormaster) 95%, white 5%);
}

::-webkit-scrollbar-track {
  background: gray;
}

.d-none {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--colorpri);
  width: 100%;
  height: 70px;
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}

.header .logo {
  display: flex;
  align-items: center;
}

.logo-img-nav {
  height: 70px;
}

.menu-nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 15px;
}

/* === BOTÓN LOGIN === */

.btn-primary {
  border: none;
  font-family: "Epunda Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  background: white;
  color: var(--colormaster);

  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}
.btn-primary:hover {
  background: var(--ccshadow);
  transition: 0.3s ease-in-out;
}
.menu-nav {
  padding: 0px 20px;
}

/* .menu-nav ul > li > button {
}
.menu-nav ul > li > button.active,
.menu-nav ul > li > button:hover {
} */

/* === USUARIO LOGUEADO === */
.user-info {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.user-info:hover {
  background: var(--ccshadow);
  transition: 0.3s ease-in-out;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
  background-color: transparent;
}

.user-name {
  font-family: "Epunda Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--colormaster);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px; /* evita desbordes */
}
.user-name-icon {
  font-family: "Epunda Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--colormaster);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px; /* evita desbordes */
}

/* ===========Responsive Code============ */

@media (width <= 1200px) {
  .logo-img-nav {
    height: 65px;
    padding-top: 5px;
  }
  .menu-nav ul > li > button {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media (width <= 992px) {
  .logo-img-nav {
    height: 60px;
    padding-top: 5px;
  }
  .menu-nav ul > li > button {
    font-size: 15px;
    padding: 10px 25px;
  }
}
@media (width <= 768px) {
  .menu-nav {
    padding: 0px 0px;
  }
  .header {
    padding: 15px 5%;
    margin: 15px 0;
  }
  .logo-img-nav {
    height: 55px;
    padding-top: 5px;
  }
  .menu-nav ul > li > button {
    font-size: 15px;
    padding: 10px 25px;
  }
}
@media (width <= 512px) {
  .user-name-icon {
    font-size: 16px;
    margin-right: 3px;
  }
  .user-info .user-name {
    display: none;
  }
  .user-info .user-avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0px;
    border: none;
  }
  .header {
    padding: 15px 5%;
    margin: 20px 0;
  }
  .logo-img-nav {
    height: 50px;
    padding-bottom: 5px;
  }
  .menu-nav ul {
    gap: 0px;
  }
  .menu-nav ul > li > a {
    font-size: 15px;
    padding: 10px 20px;
  }
  .menu-nav ul > li > button {
    font-size: 15px;
    padding: 10px 20px;
  }
}
