@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap");
/* Importar Roboto con todos los estilos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --colorpri: #ffffff;
  --colorsec: #f2a900;
  --colortxt: #12676a;

  --colorluz: #ffffff;
  --colormargen: rgba(0, 0, 0, 0.8);
  --colorbor: #f2a900;
  --colorsha: #f2a900;

  --ccborde: rgba(0, 0, 0, 0.4);
  --ccshadow: rgba(0, 0, 0, 0.8);

  --colormob: #25262e;
  --colorneg: black;
  --colorbla: #ffffff;

  --colormaster: #12676a;
  --colorbg: rgba(255, 255, 255, 0.8);
  --colorhover: #1e9ca0;
}

body {
  background-color: var(--colorluz);
}

.d-none {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--colorpri);
  width: 100%;
  height: 70px;
  padding: 50px 5%;
  margin: 15px 0;
  /* padding: 50px 5%;
  margin: 20px 0; */
  /* box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.8); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}

.header .logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 70px;
  padding-top: 5px;
}

.menu-nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  margin-right: 5%;
}

.menu-nav ul > li > a {
  font-family: "Epunda Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

  text-decoration: none;
  background: var(--colormaster);
  color: var(--colorbla);

  padding: 10px 30px;
  border-radius: 5px;
  transition: background 0.3s;
}
.menu-nav ul > li > a.active,
.menu-nav ul > li > a:hover {
  background: var(--colorsec);
  transition: 0.5s ease;
}

/* ===========Responsive Code============ */

@media (width <= 1200px) {
  .logo-img {
    height: 65px;
    padding-top: 5px;
  }
  .menu-nav ul > li > a {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media (width <= 992px) {
  .logo-img {
    height: 60px;
    padding-top: 5px;
  }
  .menu-nav ul > li > a {
    font-size: 15px;
    padding: 10px 25px;
  }
}
@media (width <= 768px) {
  .header {
    padding: 15px 5%;
    margin: 15px 0;
  }
  .logo-img {
    height: 55px;
    padding-top: 5px;
  }
  .menu-nav ul > li > a {
    font-size: 15px;
    padding: 10px 25px;
  }
}
@media (width <= 512px) {
  .header {
    padding: 5px 5%;
    margin: 10px 0;
  }
  .logo-img {
    height: 50px;
    padding-top: 5px;
  }
  .menu-nav ul > li > a {
    font-size: 15px;
    padding: 10px 20px;
  }
}
