.restaurant-menu {
  /* padding: 40px 20px; */
  max-width: 1200px;
  margin: auto;
}

.menu-title {
  font-size: 35px;
  /* margin-top: 25px; */
  font-weight: 700;
  color: var(--colormaster);
}

.menu-category {
  margin-bottom: 5px;
}

.category-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #444;
  border-bottom: 2px solid #ccc;
  display: inline-block;
  padding-bottom: 4px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;

  background: #fff;

  border-radius: 10px;
  overflow: hidden;

  /* transition: transform 0.2s ease; */
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

/* .menu-item:hover {
  transform: translateY(-3px);
} */

.menu-img-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dividir {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-info {
  padding: 15px;
}

.menu-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  text-transform: capitalize;
}

.menu-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
  min-height: 40px;
}

.menu-price {
  font-size: 1rem;
  font-weight: bold;
  color: #12676a;
}

.no-menu {
  color: #666;
  text-align: center;
  font-size: 1rem;
}

@media (width <= 512px) {
  /* 1 columna en m칩viles */
  .menu-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* Tarjeta horizontal y m치s compacta */
  .menu-item {
    display: flex;
    flex-direction: row;
    height: 120px; /* altura compacta */
  }

  /* Imagen cuadrada */
  .menu-img-wrapper {
    width: 100px; /* cuadrado */
    height: 120px;
    flex-shrink: 0; /* evita que se aplaste */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene la proporci칩n */
    object-position: center;
  }

  /* Texto a la derecha de la imagen */
  .menu-info {
    flex: 1;
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* centra verticalmente */
  }

  .dividir {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  /* Ajustes para nombres y descripci칩n */
  .menu-name {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .menu-description {
    font-size: 12px;
    margin-bottom: 4px;
    min-height: auto; /* quitar altura fija */
  }

  .menu-price {
    font-size: 14px;
  }
}
