.search-box {
  background-color: var(--colorpri);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
  box-sizing: border-box;
}

.banner-search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
}

.input-wrap {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 2 1;
  gap: 10px;
}
