/* Contenedor principal del slider */
.container {
  max-width: 1200px; /* ancho máximo */
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 15px; /* espacio lateral */
}

/* Flechas de navegación Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background: #fafafa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  top: 40%;
}
.swiper-button-next {
  right: 33px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}

/* Wrapper de Swiper */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

/* Lista de slides */
.card-list {
  width: 100%;
  overflow: hidden;
}

/* Cada slide con ancho fijo */
.swiper-slide-auto {
  width: 230px;
  height: 380px;
}

/* Móvil */
@media (max-width: 480px) {
  .swiper-slide-auto {
    width: 200px;
    height: 350px;
  }
}
